<carousel>
    <slide>
        <img src="assets/key1.jpeg" alt="first slide" style="display:block; width: 100%">
    </slide> 
    <slide>
        <img src="assets/key2.jpeg" alt="first slide" style="display:block; width: 100%">
    </slide> 
    <slide>
        <img src="assets/key3.jpg" alt="first slide" style="display:block; width: 100%">
    </slide> 
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to the shop</h1>
    </div>
</section>