<div class="card h-100 shadow-sm">
    <img src="{{product.pictureURL}}" alt="{{product.name}}">
    <div class="card-body">
       <a routerLink="/shop/{{product.id}}">
            <h6 class="text-uppercase">{{product.name}}</h6>
       </a>
       <span class="mb-2">{{product.price | currency}}</span>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-secondary fa fa-shopping-cart mr-2"></button>
                <button type="button" class="btn btn-outline-secondary fa fa-search" routerLink="/shop/{{product.id}}"  ></button>
            </div>
        </div>
    </div>
</div>