<div class="container">
    <div class="row">

        <section class="col-3">

            <h5 class="text-warning ml-3">Sort</h5>
           <select class="custom-select my-3">
                <option>Alphabetical</option>>
                <option>Price: High first</option>
                <option>Price: Low first</option>
           </select>

            <h5 class="text-warning ml-3">Brands</h5>
            <ul class="list-group my-3">
                <li class="list-group-item " *ngFor="let brand of brands">
                    {{brand.name}}
                </li>
            </ul>

            <h5 class="text-warning ml-3">Types</h5>
            <ul class="list-group my-3">
                  <li class="list-group-item" *ngFor="let type of types">
                    {{type.name}}
                  </li>
            </ul>

        </section>


        <section class="col-9">
            <header>
                <span>Showing <strong>10</strong> of <strong>15</strong> results </span>
            </header>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col-4" *ngFor="let item of products">
                  <app-product-item [product]="item"></app-product-item>
                </div>    
            </div>

        </section>

    </div>
</div>