.cart-no{
    position: absolute;
    min-width: 21px;
    min-height: 21px;
    border-radius: 50%;
    font-size: 1em;
    background: rgb(109, 109, 255);
    text-align: center;
    color:white;
    top: -11px;
    right: -11px
}
#middlebutton {
    margin-left: 15px;
}

h2{
    margin-left: 10px;
}